@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
    --color-dark0: #141414;
    --color-dark1: #751900;
    --color-dark2: #290658;
    --color-dark3: #432000;
    --color-dark4: #55170d;
    --color-dark5: #3c3200;
    --color-dark6: #2e2d2e;
    --color-dark7: #333333;
    --color-light0: #ffffff;
    --color-light1: #8e01ff;
    --color-light2: #680ce3;
    --color-light3: #ffa754;
    --color-light4: #f34f34;
    --color-primary: #ff3903;
    --color-light5: #f8e569;
    --color-light6: #e0d0b7;
    --color-light7: #fff0ec;
    --color-light8: #ffbeac;
    --font-primary1: "Poppins", sans-serif;
    --font-primary2: "Karla", sans-serif;
    --font-inter: "Inter", sans-serif;
}

.bg-gradient-blur {
    background-image: linear-gradient(
        to bottom,
        var(--color-light1),
        var(--color-light3)
    );
    filter: blur(200px);
}

.vh-h-potrait {
    height: 40vh;
}

.svg-stroke-white path {
    stroke: var(--color-white);
}

.svg-stroke-black path {
    stroke: var(--color-black);
}

.svg-fill-white path {
    fill: var(--color-white);
}

.svg-fill-black path {
    fill: var(--color-black);
}

.svg-both-white path {
    stroke: var(--color-white);
    fill: var(--color-white);
}

.svg-both-black path {
    stroke: var(--color-black);
    fill: var(--color-black);
}

.font-primary-1 {
    font-family: var(--font-primary1);
}

.font-primary-2 {
    font-family: var(--font-primary2);
}

.text-dark-0 {
    color: var(--color-dark0);
}
.text-dark7 {
    color: var(--color-dark7);
}

.text-light-0 {
    color: var(--color-light0);
}

.bg-dark-0 {
    background-color: var(--color-dark0);
}

.bg-dark-40 {
    background-color: rgba(0, 0, 0, 0.4);
}

.bg-light-0 {
    background-color: var(--color-light0);
}

.border-dark-0 {
    border-color: var(--color-dark0);
}

.border-light-0 {
    border-color: var(--color-light0);
}

.dark .bg-gradient-blur {
    background-image: linear-gradient(
        to bottom,
        var(--color-dark1),
        var(--color-dark3)
    );
}

.dark .dark\:text-light-0 {
    color: var(--color-light0);
}

.dark .dark\:text-dark-0 {
    color: var(--color-dark0);
}

.dark .dark\:bg-light-0 {
    background-color: var(--color-light0);
}

.dark .dark\:bg-dark-0 {
    background-color: var(--color-dark0);
}

.dark .dark\:bg-white-40 {
    background-color: rgba(255, 255, 255, 0.4);
}

.dark .dark\:border-light-0 {
    border-color: var(--color-light0);
}

.dark .dark\:border-dark-0 {
    border-color: var(--color-dark0);
}

.text-dark-1 {
    color: var(--color-dark1);
}

.text-light-1 {
    color: var(--color-light1);
}

.bg-dark-1 {
    background-color: var(--color-dark1);
}

.bg-light-1 {
    background-color: var(--color-primary);
}

.border-dark-1 {
    border-color: var(--color-dark1);
}

.border-light-1 {
    border-color: var(--color-light1);
}

.dark .bg-gradient-blur {
    background-image: linear-gradient(
        to bottom,
        var(--color-dark1),
        var(--color-dark3)
    );
}

.dark .dark\:text-light-1 {
    color: var(--color-light1);
}

.dark .dark\:text-dark-1 {
    color: var(--color-dark1);
}

.dark .dark\:bg-light-1 {
    background-color: var(--color-light1);
}

.dark .dark\:bg-dark-1 {
    background-color: var(--color-dark1);
}

.dark .dark\:border-light-1 {
    border-color: var(--color-light1);
}

.dark .dark\:border-dark-1 {
    border-color: var(--color-dark1);
}

.text-dark-2 {
    color: var(--color-dark2);
}

.text-light-2 {
    color: var(--color-light2);
}

.bg-dark-2 {
    background-color: var(--color-dark2);
}

.bg-light-2 {
    background-color: var(--color-light2);
}

.border-dark-2 {
    border-color: var(--color-dark2);
}

.border-light-2 {
    border-color: var(--color-light2);
}

.dark .bg-gradient-blur {
    background-image: linear-gradient(
        to bottom,
        var(--color-dark1),
        var(--color-dark3)
    );
}

.dark .dark\:text-light-2 {
    color: var(--color-light2);
}

.dark .dark\:text-dark-2 {
    color: var(--color-dark2);
}

.dark .dark\:bg-light-2 {
    background-color: var(--color-light2);
}

.dark .dark\:bg-dark-2 {
    background-color: var(--color-dark2);
}

.dark .dark\:border-light-2 {
    border-color: var(--color-light2);
}

.dark .dark\:border-dark-2 {
    border-color: var(--color-dark2);
}

.text-dark-3 {
    color: var(--color-dark3);
}

.text-light-3 {
    color: var(--color-light3);
}

.bg-dark-3 {
    background-color: var(--color-dark3);
}

.bg-light-3 {
    background-color: var(--color-light3);
}

.border-dark-3 {
    border-color: var(--color-dark3);
}

.border-light-3 {
    border-color: var(--color-light3);
}

.dark .bg-gradient-blur {
    background-image: linear-gradient(
        to bottom,
        var(--color-dark1),
        var(--color-dark3)
    );
}

.dark .dark\:text-light-3 {
    color: var(--color-light3);
}

.dark .dark\:text-dark-3 {
    color: var(--color-dark3);
}

.dark .dark\:bg-light-3 {
    background-color: var(--color-light3);
}

.dark .dark\:bg-dark-3 {
    background-color: var(--color-dark3);
}

.dark .dark\:border-light-3 {
    border-color: var(--color-light3);
}

.dark .dark\:border-dark-3 {
    border-color: var(--color-dark3);
}

.text-dark-4 {
    color: var(--color-dark4);
}

.text-light-4 {
    color: var(--color-light4);
}

.bg-dark-4 {
    background-color: var(--color-dark4);
}

.bg-light-4 {
    background-color: var(--color-light4);
}

.border-dark-4 {
    border-color: var(--color-dark4);
}

.border-light-4 {
    border-color: var(--color-light4);
}

.dark .bg-gradient-blur {
    background-image: linear-gradient(
        to bottom,
        var(--color-dark1),
        var(--color-dark3)
    );
}

.dark .dark\:text-light-4 {
    color: var(--color-light4);
}

.dark .dark\:text-dark-4 {
    color: var(--color-dark4);
}

.dark .dark\:bg-light-4 {
    background-color: var(--color-light4);
}

.dark .dark\:bg-dark-4 {
    background-color: var(--color-dark4);
}

.dark .dark\:border-light-4 {
    border-color: var(--color-light4);
}

.dark .dark\:border-dark-4 {
    border-color: var(--color-dark4);
}

.text-dark-5 {
    color: var(--color-dark5);
}

.text-light-5 {
    color: var(--color-light5);
}

.bg-dark-5 {
    background-color: var(--color-dark5);
}

.bg-light-5 {
    background-color: var(--color-light5);
}
.bg-light-7 {
    background-color: var(--color-light7);
}
.bg-light-8 {
    background-color: var(--color-light8);
}

.border-dark-5 {
    border-color: var(--color-dark5);
}

.border-light-5 {
    border-color: var(--color-light5);
}

.dark .bg-gradient-blur {
    background-image: linear-gradient(
        to bottom,
        var(--color-dark1),
        var(--color-dark3)
    );
}

.dark .dark\:text-light-5 {
    color: var(--color-light5);
}

.dark .dark\:text-dark-5 {
    color: var(--color-dark5);
}

.dark .dark\:bg-light-5 {
    background-color: var(--color-light5);
}

.dark .dark\:bg-dark-5 {
    background-color: var(--color-dark5);
}

.dark .dark\:border-light-5 {
    border-color: var(--color-light5);
}

.dark .dark\:border-dark-5 {
    border-color: var(--color-dark5);
}

.text-dark-6 {
    color: var(--color-dark6);
}

.text-light-6 {
    color: var(--color-light6);
}

.bg-dark-6 {
    background-color: var(--color-dark6);
}

.bg-light-6 {
    background-color: var(--color-light6);
}

.border-dark-6 {
    border-color: var(--color-dark6);
}

.border-light-6 {
    border-color: var(--color-light6);
}

.dark .bg-gradient-blur {
    background-image: linear-gradient(
        to bottom,
        var(--color-dark1),
        var(--color-dark3)
    );
}

.dark .dark\:text-light-6 {
    color: var(--color-light6);
}

.dark .dark\:text-dark-6 {
    color: var(--color-dark6);
}

.dark .dark\:bg-light-6 {
    background-color: var(--color-light6);
}

.dark .dark\:bg-dark-6 {
    background-color: var(--color-dark6);
}

.dark .dark\:border-light-6 {
    border-color: var(--color-light6);
}

.dark .dark\:border-dark-6 {
    border-color: var(--color-dark6);
}

@keyframes wheelup {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.5rem);
        opacity: 0;
    }

    51% {
        transform: translateY(0.5rem);
    }
}

@keyframes wheeldown {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(0.5rem);
        opacity: 0;
    }

    51% {
        transform: translateY(-0.5rem);
    }
}

@keyframes wheelopacity {
    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.animate-swipe {
    opacity: 0;
}

.is-visible .animate-swipe {
    opacity: 1;
}

.is-visible .animate-swipe-up {
    animation: wheelup 4s infinite 2s;
}

.is-visible .animate-swipe-down {
    animation: wheeldown 4s infinite 2s;
}

.is-visible .animate-swipe-down-text {
    opacity: 0;
    animation: wheelopacity 4s infinite 2s;
}
