/* !! ADDITONAL STYLE MAGANG */

:root {
    --color-primary: #ff3903;
    --color-primary-60: #310057;
    --color-primary-40: #fff0ec;
    --color-primary-41: #751900;
    --color-primary-42: #333333;
    --color-yellow: #ffa952;
    --color-yellow-40: #ffc485;
    --color-pink: #fcad97;
    --color-black: #000;
    --color-black-60: #171717;
    --color-black-40: #2e2d2e;
    --color-white: #fff;
    --color-white-20: #dcdcdc;
    --color-gray: #514f4f;
    --font-inter: "Inter", sans-serif;
    --font-nunito: "Nunito Sans", sans-serif;
    --font-redhat: "Red Hat Display", sans-serif;
    --font-outfit: "Outfit", sans-serif;
    --font-karla: "Karla", sans-serif;
}

.font-inter {
    font-family: var(--font-inter);
}

.font-redhat {
    font-family: var(--font-redhat);
}

.font-nunito {
    font-family: var(--font-nunito);
}

.font-outfit {
    font-family: var(--font-outfit);
}
.font-karla {
    font-family: var(--font-karla);
}

.text-black {
    color: var(--color-black);
}

figure .image-news img {
    width: 100%;
    height: 40vh;
}

.image-news img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}


.related-img-news img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.box-list--topic li a {
    padding-left: 1.25rem;
}
.box-list--topic li a::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0.75rem;
    font-size: 150%;
    line-height: 0;
}



.fa-facebook-f,
.fa-twitter,
.fa-whatsapp,
.fa-telegram,
.fa-link {
    color: #ff3903;
    font-size: 20px;
}
.fa-brands,
.fa-link {
    background-color: transparent;
    font-family: "Font Awesome 6 Brands";
    line-height: unset !important;
}

.dark .fa-facebook-f,
.dark .fa-twitter,
.dark .fa-whatsapp,
.dark .fa-telegram,
.dark .fa-link {
    color: #ffff;
}

.fa-telegram {
    background-color: white;
}

.border-tag {
    border-top: 2px solid #ff3903;
}

.dark .border-tag {
    border-top: 2px solid white;
}

.article-footer-left {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    text-transform: uppercase;

    color: #ff3903;
}
/* .article-title {
    background-color: white;
    font-family: var(--font-inter);
    font-size: 16px;
    color: #333333;
} */



/* Navbar */

[data-toggle-open].open.-translate-x-full,
[data-toggle-open].open.translate-x-full {
    transform: translateX(0);
}

[data-toggle-open].open {
    pointer-events: auto;
    opacity: 1;
}

[data-toggle-open] {
    transition: 0.3s ease;
}

[data-toggle-open].open .animate {
    opacity: 1;
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
    transform: scale(1, 1) translate3d(0, 0, 0);
}

.nav ul li {
    display: block;
    padding: 0.5rem 1.5rem;
}

.nav .active a {
    color: var(--color-black-60);
}

.dark .nav .active a {
    color: var(--color-primary-41);
}


